name: CI
run-name: CI on ${{ github.ref_name }}

on:
  push:
    paths:
      - '**.lua'
      - '.github/workflows/ci.yml'
  pull_request:
    paths:
      - '**.lua'
      - '.github/workflows/ci.yml'
  workflow_dispatch:

jobs:
  lua_check:
    name: Lua Checks
    runs-on: ubuntu-24.04
    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Setup Lua
        uses: leafo/gh-actions-lua@v12
        with:
          luaVersion: "5.4"

      - name: Setup LuaRocks
        uses: leafo/gh-actions-luarocks@v6

      - name: Install luacheck
        run: luarocks install luacheck

      - name: Check Lua syntax
        run: lua -e "assert(loadfile('main.lua'))"

      - name: Run luacheck
        run: luacheck main.lua --globals ya cx fs ui Status --no-unused-args --no-max-line-length
        continue-on-error: true


